/*Reactive Navbar & Sidebar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 5px;
  width: 100%;
  box-sizing: border-box;
  background: #000000;
  z-index: 9999;
  height: 75px;
}
header img{
  color: #fff;
  height: 62px;
  top: 5px;
  padding: 5px;
  position: absolute;
  left: 2%;
}
header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  background: #000000;
}
header nav ul li {
  list-style: none;
  margin-top: 12px;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  color: #FFF;
  text-decoration: none;
  font-size: 3vw;

}
header nav ul li a:hover {
  color: #FFF;
  text-decoration: none;
}
header nav ul li a.active {
  color: #FFF;
  background: #212121;
}
.menu-toggle {
  color: #FFF;
  float: left;
  line-height: 75px;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
@media (max-width: 991px){
  header {
    padding: 0px 20px;
    position: fixed;

  }
  .menu-toggle {
    display: block;

  }
  header img{
    height: calc(100vh - 25px);
    max-height: 50px;
    max-width: 50px;
    float: left;
    top: 12px;
    left: calc(100vw /2 - 25px);

  }
  header nav {
    position: absolute;
    width: 40%;
    height: calc(100vh - 50px);
    background: #212121;
    top: 75px;
    left: -100%;
    transition: 0.5s;
  }

  header nav.active{
    left: 0px;
  }

  header nav ul {
    display: block;
    text-align: center;
    background: #212121;;
  }
  header nav ul li {
    margin: 4vw 0vw;
  }
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 6vw;

  }
}
.overlay {
  display: none;
  position: absolute;
  /* full screen */
  width: 100%;
  left: -100%;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: -1;
  /* animate the transition */
  transition:0.5s;
}
.overlay.active {
  display: block;
  left: 0;
}
