/* */
@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

html,body {
  background-color:  #EBECED;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  font-family: 'Open Sans';
}

.banner {
  width: 100vw;
  height: calc(75vw * 9 /16 - 50px);
  background-image: url("images/campanile.jpg");
  background-size: cover;
  filter: saturate(2) hue-rotate(180deg);
  margin-top: 50px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-family: 'Josefin Sans';
  font-size: 8vw;
  font-weight: bold;
  color:white;
}

.followMe {
  padding: 20px 0px;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:100%;
  background:#2D2D2B;
  color: white;
}
.followMe a {
  margin: 0px 20px;
}
.followMe a:hover {
  text-decoration: none;
}
