@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat&display=swap');

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 5vw !important;
}
h2 {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 3vw !important;
}

h3 {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 4vw !important;
}

.nav-link {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 25px !important;
  margin: 0 1vw;
}
.carousel-caption {
  bottom: 0px !important;
}
.dropdown-menu {
  background-color: #212529 !important;
}
.dropdown-item {
  font-size: 2vw !important;
  background-color: #212529 !important;
  color: white !important;
}
p {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 3vw;
}
body {
  padding-top: 50px;
}
